In [1]:
import org.apache.spark.sql._
import org.apache.spark.sql.types.StructType
import org.apache.spark.sql.types.{IntegerType, StringType, ArrayType}

In [2]:
val arrayStructureData = Seq(
    Row(Row("James","","Smith"),List("Java","Scala","C++"),"OH","M"),
    Row(Row("Anna","Rose",""),List("Spark","Java","C++"),"NY","F"),
    Row(Row("Julia","","Williams"),List("CSharp","VB"),"OH","F"),
    Row(Row("Maria","Anne","Jones"),List("CSharp","VB"),"NY","M"),
    Row(Row("Jen","Mary","Brown"),List("CSharp","VB"),"NY","M"),
    Row(Row("Mike","Mary","Williams"),List("Python","VB"),"OH","M")
)

arrayStructureData = List([[James,,Smith],List(Java, Scala, C++),OH,M], [[Anna,Rose,],List(Spark, Java, C++),NY,F], [[Julia,,Williams],List(CSharp, VB),OH,F], [[Maria,Anne,Jones],List(CSharp, VB),NY,M], [[Jen,Mary,Brown],List(CSharp, VB),NY,M], [[Mike,Mary,Williams],List(Python, VB),OH,M])

List([[James,,Smith],List(Java, Scala, C++),OH,M], [[Anna,Rose,],List(Spark, Java, C++),NY,F], [[Julia,,Williams],List(CSharp, VB),OH,F], [[Maria,Anne,Jones],List(CSharp, VB),NY,M], [[Jen,Mary,Brown],List(CSharp, VB),NY,M], [[Mike,Mary,Williams],List(Python, VB),OH,M])

In [3]:
val arrayStructureSchema = new StructType(). 
    add("name",new StructType().
    add("firstname",StringType).
    add("middlename",StringType).
    add("lastname",StringType)).
    add("languages", ArrayType(StringType)).
    add("state", StringType).
    add("gender", StringType)

arrayStructureSchema = StructType(StructField(name,StructType(StructField(firstname,StringType,true), StructField(middlename,StringType,true), StructField(lastname,StringType,true)),true), StructField(languages,ArrayType(StringType,true),true), StructField(state,StringType,true), StructField(gender,StringType,true))

StructType(StructField(name,StructType(StructField(firstname,StringType,true), StructField(middlename,StringType,true), StructField(lastname,StringType,true)),true), StructField(languages,ArrayType(StringType,true),true), StructField(state,StringType,true), StructField(gender,StringType,true))

In [4]:
val df = spark.createDataFrame(spark.sparkContext.parallelize(arrayStructureData),arrayStructureSchema)
df.printSchema()
df.show()

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- languages: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- state: string (nullable = true)
 |-- gender: string (nullable = true)

+--------------------+------------------+-----+------+
|                name|         languages|state|gender|
+--------------------+------------------+-----+------+
|    [James, , Smith]|[Java, Scala, C++]|   OH|     M|
|      [Anna, Rose, ]|[Spark, Java, C++]|   NY|     F|
| [Julia, , Williams]|      [CSharp, VB]|   OH|     F|
|[Maria, Anne, Jones]|      [CSharp, VB]|   NY|     M|
|  [Jen, Mary, Brown]|      [CSharp, VB]|   NY|     M|
|[Mike, Mary, Will...|      [Python, VB]|   OH|     M|
+--------------------+------------------+-----+------+

df = [name: struct<firstname: string, middlename: string ... 1 more field>, languages: array<string> ... 2 more fields]

[name: struct<firstname: string, middlename: string ... 1 more field>, languages: array<string> ... 2 more fields]

In [5]:
df.filter(df("state") === "OH").show(false)
df.filter('state === "OH").show(false)
df.filter($"state" === "OH").show(false)
df.filter(df.col("state") === "OH").show(false)
df.where(df("state") === "OH").show(false)
df.where('state === "OH").show(false)
df.where($"state" === "OH").show(false)
df.where(df.col("state") === "OH").show(false)

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|[James, , Smith]      |[Java, Scala, C++]|OH   |M     |
|[Julia, , Williams]   |[CSharp, VB]      |OH   |F     |
|[Mike, Mary, Williams]|[Python, VB]      |OH   |M     |
+----------------------+------------------+-----+------+

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|[James, , Smith]      |[Java, Scala, C++]|OH   |M     |
|[Julia, , Williams]   |[CSharp, VB]      |OH   |F     |
|[Mike, Mary, Williams]|[Python, VB]      |OH   |M     |
+----------------------+------------------+-----+------+

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|[James, , Smith]      |[Java, Scala, C++]|OH   |M     |
|[Julia, , Williams]   |[CSharp, VB]      |OH   |F     |
|[Mike, Mary, Williams]|[Python, VB]      |OH   |M     |
+----------------------+------------------+-----+------+

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|[James, , Smith]      |[Java, Scala, C++]|OH   |M     |
|[Julia, , Williams]   |[CSharp, VB]      |OH   |F     |
|[Mike, Mary, Williams]|[Python, VB]      |OH   |M     |
+----------------------+------------------+-----+------+

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|[James, , Smith]      |[Java, Scala, C++]|OH   |M     |
|[Julia, , Williams]   |[CSharp, VB]      |OH   |F     |
|[Mike, Mary, Williams]|[Python, VB]      |OH   |M     |
+----------------------+------------------+-----+------+

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|[James, , Smith]      |[Java, Scala, C++]|OH   |M     |
|[Julia, , Williams]   |[CSharp, VB]      |OH   |F     |
|[Mike, Mary, Williams]|[Python, VB]      |OH   |M     |
+----------------------+------------------+-----+------+

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|[James, , Smith]      |[Java, Scala, C++]|OH   |M     |
|[Julia, , Williams]   |[CSharp, VB]      |OH   |F     |
|[Mike, Mary, Williams]|[Python, VB]      |OH   |M     |
+----------------------+------------------+-----+------+

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|[James, , Smith]      |[Java, Scala, C++]|OH   |M     |
|[Julia, , Williams]   |[CSharp, VB]      |OH   |F     |
|[Mike, Mary, Williams]|[Python, VB]      |OH   |M     |
+----------------------+------------------+-----+------+

In [6]:
df.filter("gender == 'M'").show(false)
df.where("gender == 'M'").show(false)

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|[James, , Smith]      |[Java, Scala, C++]|OH   |M     |
|[Maria, Anne, Jones]  |[CSharp, VB]      |NY   |M     |
|[Jen, Mary, Brown]    |[CSharp, VB]      |NY   |M     |
|[Mike, Mary, Williams]|[Python, VB]      |OH   |M     |
+----------------------+------------------+-----+------+

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|[James, , Smith]      |[Java, Scala, C++]|OH   |M     |
|[Maria, Anne, Jones]  |[CSharp, VB]      |NY   |M     |
|[Jen, Mary, Brown]    |[CSharp, VB]      |NY   |M     |
|[Mike, Mary, Williams]|[Python, VB]      |OH   |M     |
+----------------------+------------------+-----+------+

In [7]:
df.filter(df("state") === "OH" && df("gender") === "M").show(false)
df.where(df("state") === "OH" && df("gender") === "M").show(false)

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|[James, , Smith]      |[Java, Scala, C++]|OH   |M     |
|[Mike, Mary, Williams]|[Python, VB]      |OH   |M     |
+----------------------+------------------+-----+------+

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|[James, , Smith]      |[Java, Scala, C++]|OH   |M     |
|[Mike, Mary, Williams]|[Python, VB]      |OH   |M     |
+----------------------+------------------+-----+------+

In [8]:
import org.apache.spark.sql.functions.array_contains
df.filter(array_contains(df("languages"),"Java")).show(false)
df.filter(df("name.lastname") === "Williams").show(false)

+----------------+------------------+-----+------+
|name            |languages         |state|gender|
+----------------+------------------+-----+------+
|[James, , Smith]|[Java, Scala, C++]|OH   |M     |
|[Anna, Rose, ]  |[Spark, Java, C++]|NY   |F     |
+----------------+------------------+-----+------+

+----------------------+------------+-----+------+
|name                  |languages   |state|gender|
+----------------------+------------+-----+------+
|[Julia, , Williams]   |[CSharp, VB]|OH   |F     |
|[Mike, Mary, Williams]|[Python, VB]|OH   |M     |
+----------------------+------------+-----+------+

In [9]:
df.filter(df("name.lastname") === "Williams").explain()
df.filter(array_contains(df("languages"),"Java")).explain()
df.filter(df("state") === "OH" && df("gender") === "M").explain()

== Physical Plan ==
*(1) Filter (isnotnull(name#4) AND (name#4.lastname = Williams))
+- *(1) Scan ExistingRDD[name#4,languages#5,state#6,gender#7]


== Physical Plan ==
*(1) Filter array_contains(languages#5, Java)
+- *(1) Scan ExistingRDD[name#4,languages#5,state#6,gender#7]


== Physical Plan ==
*(1) Filter (((isnotnull(state#6) AND isnotnull(gender#7)) AND (state#6 = OH)) AND (gender#7 = M))
+- *(1) Scan ExistingRDD[name#4,languages#5,state#6,gender#7]

In [10]:
import org.apache.spark.sql._
import org.apache.spark.sql.types.StructType
import org.apache.spark.sql.types.{IntegerType, StringType, ArrayType}
import org.apache.spark.sql.SparkSession

In [11]:
val session = SparkSession.builder.config("spark.master","local[1]").getOrCreate

session = org.apache.spark.sql.SparkSession@1a2e9027

org.apache.spark.sql.SparkSession@1a2e9027

In [12]:
val schema = new StructType().
        add("fname",StringType).
        add("lname",StringType).
        add("courses",StringType).
        add("grade",IntegerType).
        add("year",IntegerType)

schema = StructType(StructField(fname,StringType,true), StructField(lname,StringType,true), StructField(courses,StringType,true), StructField(grade,IntegerType,true), StructField(year,IntegerType,true))

StructType(StructField(fname,StringType,true), StructField(lname,StringType,true), StructField(courses,StringType,true), StructField(grade,IntegerType,true), StructField(year,IntegerType,true))

In [13]:
val data = session.read.option("header","true").option("delimiter","|").schema(schema).csv("/home/spark/files/dane1.csv")  
data.printSchema()
data.show()

root
 |-- fname: string (nullable = true)
 |-- lname: string (nullable = true)
 |-- courses: string (nullable = true)
 |-- grade: integer (nullable = true)
 |-- year: integer (nullable = true)

+----------+-----------+-----------+-----+----+
|     fname|      lname|    courses|grade|year|
+----------+-----------+-----------+-----+----+
|  Weronika|     Kapłon|     FIZYKA|    1|   5|
|   Izabela|     Snażyk|INFORMATYKA|    1|   5|
|       Leo|  Brockhuis|     FIZYKA|    2|   2|
|    Alicja|     Kawala|     FIZYKA|    1|   7|
|   Bartosz|     Piętka|INFORMATYKA|    1|   3|
|     Dawid|   Pietruch|     FIZYKA|    1|   5|
|     Piotr|   Kukiełka|     FIZYKA|    2|   2|
| Stanisław|       Król|     FIZYKA|    2|   2|
|Franciszek| Kramarczyk|INFORMATYKA|    1|   5|
|Aleksandra|     Popiel|     FIZMED|    2|   2|
|     Kamil|    Tomczyk|INFORMATYKA|    1|   7|
|    Hubert|      Mazur|INFORMATYKA|    1|   5|
| Tymoteusz|       Kruk|INFORMATYKA|    2|   2|
|    Robert|      Gałat|INFORMATYKA|    2|   2|
|    Patryk|      Śledź|INFORMATYKA|    1|   3|
|   Jadwiga|      Bizoń|     FIZMED|    1|   3|
|     Rafał|  Tyczyński|     FIZMED|    1|   7|
|    Joanna|  Zborowska|     FIZMED|    1|   7|
|     Rafał|     Damian|     FIZYKA|    1|   7|
|    Michał|Piwowarczyk|INFORMATYKA|    1|   7|
+----------+-----------+-----------+-----+----+
only showing top 20 rows

data = [fname: string, lname: string ... 3 more fields]

[fname: string, lname: string ... 3 more fields]

In [14]:
data.where("fname = 'Weronika'").show(false)
data.where('fname === "Weronika").show(false)
data.where(data.col("fname") === "Weronika").show(false)
data.select($"lname").show(false)
data.select($"lname",$"fname").show(false)
data.groupBy($"grade",$"year").count().show(false)
data.groupBy($"grade",$"year").count().orderBy($"grade",$"year").show(false)

+--------+----------+-----------+-----+----+
|fname   |lname     |courses    |grade|year|
+--------+----------+-----------+-----+----+
|Weronika|Kapłon    |FIZYKA     |1    |5   |
|Weronika|Stanek    |FIZYKA     |1    |5   |
|Weronika|Wiszyńska |INFORMATYKA|1    |3   |
|Weronika|Mrozińska |FIZYKA     |2    |2   |
|Weronika|Szewczyk  |FIZMED     |1    |3   |
|Weronika|Szpytma   |INFORMATYKA|1    |7   |
|Weronika|Schabowicz|INFORMATYKA|1    |7   |
|Weronika|Pastuszka |FIZMED     |1    |7   |
|Weronika|Miszczak  |INFORMATYKA|1    |3   |
|Weronika|Tracz     |FIZMED     |1    |5   |
|Weronika|Ciurej    |INFORMATYKA|1    |3   |
+--------+----------+-----------+-----+----+

+--------+----------+-----------+-----+----+
|fname   |lname     |courses    |grade|year|
+--------+----------+-----------+-----+----+
|Weronika|Kapłon    |FIZYKA     |1    |5   |
|Weronika|Stanek    |FIZYKA     |1    |5   |
|Weronika|Wiszyńska |INFORMATYKA|1    |3   |
|Weronika|Mrozińska |FIZYKA     |2    |2   |
|Weronika|Szewczyk  |FIZMED     |1    |3   |
|Weronika|Szpytma   |INFORMATYKA|1    |7   |
|Weronika|Schabowicz|INFORMATYKA|1    |7   |
|Weronika|Pastuszka |FIZMED     |1    |7   |
|Weronika|Miszczak  |INFORMATYKA|1    |3   |
|Weronika|Tracz     |FIZMED     |1    |5   |
|Weronika|Ciurej    |INFORMATYKA|1    |3   |
+--------+----------+-----------+-----+----+

+--------+----------+-----------+-----+----+
|fname   |lname     |courses    |grade|year|
+--------+----------+-----------+-----+----+
|Weronika|Kapłon    |FIZYKA     |1    |5   |
|Weronika|Stanek    |FIZYKA     |1    |5   |
|Weronika|Wiszyńska |INFORMATYKA|1    |3   |
|Weronika|Mrozińska |FIZYKA     |2    |2   |
|Weronika|Szewczyk  |FIZMED     |1    |3   |
|Weronika|Szpytma   |INFORMATYKA|1    |7   |
|Weronika|Schabowicz|INFORMATYKA|1    |7   |
|Weronika|Pastuszka |FIZMED     |1    |7   |
|Weronika|Miszczak  |INFORMATYKA|1    |3   |
|Weronika|Tracz     |FIZMED     |1    |5   |
|Weronika|Ciurej    |INFORMATYKA|1    |3   |
+--------+----------+-----------+-----+----+

+-----------+
|lname      |
+-----------+
|Kapłon     |
|Snażyk     |
|Brockhuis  |
|Kawala     |
|Piętka     |
|Pietruch   |
|Kukiełka   |
|Król       |
|Kramarczyk |
|Popiel     |
|Tomczyk    |
|Mazur      |
|Kruk       |
|Gałat      |
|Śledź      |
|Bizoń      |
|Tyczyński  |
|Zborowska  |
|Damian     |
|Piwowarczyk|
+-----------+
only showing top 20 rows

+-----------+----------+
|lname      |fname     |
+-----------+----------+
|Kapłon     |Weronika  |
|Snażyk     |Izabela   |
|Brockhuis  |Leo       |
|Kawala     |Alicja    |
|Piętka     |Bartosz   |
|Pietruch   |Dawid     |
|Kukiełka   |Piotr     |
|Król       |Stanisław |
|Kramarczyk |Franciszek|
|Popiel     |Aleksandra|
|Tomczyk    |Kamil     |
|Mazur      |Hubert    |
|Kruk       |Tymoteusz |
|Gałat      |Robert    |
|Śledź      |Patryk    |
|Bizoń      |Jadwiga   |
|Tyczyński  |Rafał     |
|Zborowska  |Joanna    |
|Damian     |Rafał     |
|Piwowarczyk|Michał    |
+-----------+----------+
only showing top 20 rows

+-----+----+-----+
|grade|year|count|
+-----+----+-----+
|2    |2   |95   |
|1    |7   |137  |
|null |null|1    |
|1    |3   |203  |
|1    |5   |139  |
+-----+----+-----+

+-----+----+-----+
|grade|year|count|
+-----+----+-----+
|null |null|1    |
|1    |3   |203  |
|1    |5   |139  |
|1    |7   |137  |
|2    |2   |95   |
+-----+----+-----+

In [15]:
data.createGlobalTempView("lista")
spark.sql("SELECT * from global_temp.lista").show()
spark.sql("SELECT grade, year, count(*) from global_temp.lista group by grade, year order by grade, year").show()

+----------+-----------+-----------+-----+----+
|     fname|      lname|    courses|grade|year|
+----------+-----------+-----------+-----+----+
|  Weronika|     Kapłon|     FIZYKA|    1|   5|
|   Izabela|     Snażyk|INFORMATYKA|    1|   5|
|       Leo|  Brockhuis|     FIZYKA|    2|   2|
|    Alicja|     Kawala|     FIZYKA|    1|   7|
|   Bartosz|     Piętka|INFORMATYKA|    1|   3|
|     Dawid|   Pietruch|     FIZYKA|    1|   5|
|     Piotr|   Kukiełka|     FIZYKA|    2|   2|
| Stanisław|       Król|     FIZYKA|    2|   2|
|Franciszek| Kramarczyk|INFORMATYKA|    1|   5|
|Aleksandra|     Popiel|     FIZMED|    2|   2|
|     Kamil|    Tomczyk|INFORMATYKA|    1|   7|
|    Hubert|      Mazur|INFORMATYKA|    1|   5|
| Tymoteusz|       Kruk|INFORMATYKA|    2|   2|
|    Robert|      Gałat|INFORMATYKA|    2|   2|
|    Patryk|      Śledź|INFORMATYKA|    1|   3|
|   Jadwiga|      Bizoń|     FIZMED|    1|   3|
|     Rafał|  Tyczyński|     FIZMED|    1|   7|
|    Joanna|  Zborowska|     FIZMED|    1|   7|
|     Rafał|     Damian|     FIZYKA|    1|   7|
|    Michał|Piwowarczyk|INFORMATYKA|    1|   7|
+----------+-----------+-----------+-----+----+
only showing top 20 rows

+-----+----+--------+
|grade|year|count(1)|
+-----+----+--------+
| null|null|       1|
|    1|   3|     203|
|    1|   5|     139|
|    1|   7|     137|
|    2|   2|      95|
+-----+----+--------+

In [21]:
spark.sql("SELECT grade, year, count(*) as count from global_temp.lista where grade=1 group by grade, year order by count DESC").show()

+-----+----+-----+
|grade|year|count|
+-----+----+-----+
|    1|   3|  203|
|    1|   5|  139|
|    1|   7|  137|
+-----+----+-----+

In [22]:
spark.sql("SELECT count(*) as count from global_temp.lista").show()

+-----+
|count|
+-----+
|  575|
+-----+

In [30]:
spark.sql("SELECT fname from global_temp.lista group by fname").count()

136